---
import ShowcaseCard from "./ShowcaseCard.astro";
import { profile, education, courses } from "../information.json";
---

<main class="profile-container" id="profile">
  <div class="showcase-left">
    <ShowcaseCard entries={education.entries} title={education.title}/>
  </div>
  <div class="profile-info box">
    <img src={profile.image} />
    <div class="profile-info-text">
      <h3>{profile.name}</h3>
      <div class="profile-info-action">
        <a href="mailto:mariaortizjimenez1999.9@gmail.com">
          <img src="/email.png" />
        </a>
      </div>
    </div>
    <div class="profile-info-text">
      <h3>{profile.description}</h3>
    </div>
  </div>
  <div class="showcase-right">
    <ShowcaseCard entries={courses.entries} title={courses.title} />
  </div>
  <div class="showcase-simple">
    <ShowcaseCard fullScreen={true} entries={[...education.entries, ...courses.entries]} title={education.title} />
  </div>
</main>

<style>
  .profile-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    min-height: var(--section-height);
    max-height: var(--section-height);
    justify-content: center;
    align-items: center;
  }
  .showcase-[left|right] {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .showcase-simple {
    display: none;
  }
  .profile-container .profile-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-container h1 {
    margin-top: 1rem;
    font-weight: 200;
    margin-bottom: 1rem;
    font-variant: petite-caps;
  }
  .profile-container .profile-info {
    max-width: min(25vw, 400px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
  }
  .profile-container .profile-info img {
    max-width: 100%;
    min-width: 100%;
    max-height: calc(var(--section-height) * 0.7);
    border-top-left-radius: calc(var(--border-radius) - 4px);
    border-top-right-radius: calc(var(--border-radius) - 4px);
    object-fit: cover;
  }
  .profile-container .profile-info > .profile-info-text {
    border-top: 4px solid var(--border);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
  }

  .profile-container .profile-info > div:not(:first-of-type) {
    padding: 0.5rem;
  }

  .profile-container .profile-info > .profile-info-text > h3 {
    text-align: center;    
    margin: 0 auto;
  }

  .profile-container .profile-info > .profile-info-text > .profile-info-action {
    border-left: 4px solid var(--border);
    padding: 0.5rem 0 0.5rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-container
    .profile-info
    > .profile-info-text
    > .profile-info-action
    > a {
    display: flex;
  }

  .profile-container
    .profile-info
    > .profile-info-text
    > .profile-info-action
    > a
    > img {
    width: 2rem;
    height: 2rem;
  }

  @media (width <= 1300px) {
    .profile-container {
      flex-direction: column;
      gap: 3rem;
      justify-content: flex-start;
      max-height: unset;
      min-height: unset;
    }

    .profile-container .profile-info {
      max-width: var(--small-screen-section-width);
      min-width: var(--small-screen-section-width);
    }

    .profile-container .profile-info img {
      max-height: calc(var(--section-height) * 0.4);
    }

    .showcase-left, .showcase-right {
      display: none;
    }

    .showcase-simple {
      display: block;
      min-width: var(--small-screen-section-width);
      max-width: var(--small-screen-section-width);
    }
  }
</style>
