---
import ShowcaseCard from "./ShowcaseCard.astro";
import { profile, education, courses } from "../information.json";
---

<main class="profile-container" id="profile">
  <div class="showcase-left">
    <ShowcaseCard entries={education.entries} title={education.title}/>
  </div>
  <div class="profile-info box">
    <img src={profile.image} />
    <div class="profile-info-text profile-info-main">
      <h3>{profile.name}</h3>
    </div>
    <div class="profile-info-actions">
      <div class="profile-info-text">
        <a href={`tel:${profile.phone}`}>
          <img src="/phone.png" />
        </a>
      </div>
      <div class="profile-info-text">
        <a href = {`mailto:${profile.email}`}>
          <img src="/email.png" />
        </a>
      </div>
      <div class="profile-info-text">
        <a href={profile.instagram}>
          <img src="/instagram.png" />
        </a>
      </div>
    </div>
    <div class="profile-info-text">
      <h3>{profile.description}</h3>
    </div>
  </div>
  <div class="showcase-right">
    <ShowcaseCard entries={courses.entries} title={courses.title} />
  </div>
</main>

<style>
  .profile-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    min-height: var(--section-height);
    max-height: var(--section-height);
    justify-content: center;
    align-items: center;
  }
  .showcase-[left|right] {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile-container .profile-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-info .profile-info-actions {
    display: flex;
    flex-direction: row;
    border-top: 4px solid var(--border);
    width: 100%;
    padding: 5px 0 0 0 !important;
    justify-content: space-evenly;
  }
  .profile-info .profile-info-actions img {
    width: 3rem;
    height: 3rem;
  }
  .profile-container h1 {
    margin-top: 1rem;
    font-weight: 200;
    margin-bottom: 1rem;
    font-variant: petite-caps;
  }
  .profile-container .profile-info {
    max-width: min(25vw, 400px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
  }
  .profile-container .profile-info img {
    max-width: 100%;
    min-width: 100%;
    max-height: calc(var(--section-height) * 0.7);
    border-top-left-radius: calc(var(--border-radius) - 4px);
    border-top-right-radius: calc(var(--border-radius) - 4px);
    object-fit: cover;
  }
  .profile-container .profile-info > .profile-info-text {
    border-top: 4px solid var(--border);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
  }
  .profile-container .profile-info > .profile-info-main > h3 {
    font-size: 1.5rem;
    font-weight: 200;
    font-variant: petite-caps;
    text-align: center;
    padding: 0.75rem 0;
  }

  .profile-container .profile-info > div:not(:first-of-type) {
    padding: 0.5rem;
  }

  .profile-container .profile-info > .profile-info-text > h3 {
    text-align: center;    
    margin: 0 auto;
  }

  .profile-container
    .profile-info
    > .profile-info-text
    > .profile-info-action
    > a
    > img {
    width: 2rem;
    height: 2rem;
  }

  @media (width <= 1300px) {
    .profile-container {
      flex-direction: column;
      gap: 3rem;
      justify-content: flex-start;
      max-height: unset;
      min-height: unset;
    }

    .profile-container .profile-info {
      max-width: var(--small-screen-section-width);
      min-width: var(--small-screen-section-width);
    }

    .profile-info .profile-info-main {
      order: -1;
      border-top: none !important;
      border-bottom: 4px solid var(--border);
    }

    .profile-container .profile-info img {
      max-height: calc(var(--section-height) * 0.4);
    }

    .showcase-left, .showcase-right {
      display: none;
    }
  }
</style>
